---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LogoMarquee from '../components/LogoMarquee.astro';
import BusinessSection from '../components/BusinessSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import PricingTable from '../components/PricingTable.astro';
---

<Layout>
  <Header />
  <main class="space-y-0">
    <Hero />
    <LogoMarquee />
    <BusinessSection />
    <FeaturesSection />
    <HowItWorks />
    <Testimonials />
    <PricingTable />
</main>

</Layout>