---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingTable from '../components/PricingTable.astro';
import FAQ from '../components/FAQ.astro';
// (Reverted) remove SSR page-level translations
---

<Layout>
  <Header />
  <main class="space-y-0">
    <PricingTable />
  </main>
</Layout>
